body {
  margin: 0;
}

.new-park-title {
  text-align: center;
}

.new-park-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.new-park-form label {
  margin: 20px 0 5px 0;
}

.new-park-form button {
  margin-top: 20px;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: #05386b;
  color: white;
  padding: 5px;
}

.nav-bar a {
  color: white;
}

.nav-bar a:hover {
  color: red;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.themepark-card {
  border: 1px solid rgba(192, 191, 191, 0.014);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  width: 60%;
}

.themepark-details {
  display: flex;
}

.themepark-card:hover {
  box-shadow: 1px 1px 1px 1px black;
}

.themepark-image img {
  width: 300px;
  border-radius: 10px;
}
.themepark-image {
  margin-right: 20px;
}

.themepark-view-more {
  display: flex;
  justify-content: flex-end;
}

.themepark-delete {
  display: flex;
  justify-content: flex-start;
}
.searchDiv {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  margin-left: 30px;
}
.input {
  max-width: 190px;
  background-color: #f5f5f5;
  color: #242424;
  padding: 0.15rem 0.5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
}

input:focus {
  border-bottom: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;
}

input:hover {
  outline: 1px solid lightgrey;
}

.wrapper-ride {
  display: flex;
  justify-content: center;
}

.ride-card {
  display: flex;
  margin: 30px;
  width: 60%;
}

.ride-card img {
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
}
.buttonOne {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #007acc;
  outline: 3px #007acc solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  color: beige;
}

.buttonOne.textOne {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.buttonOne:hover {
  background-color: transparent;
}

.buttonOne:hover .textOne {
  color: #007acc;
}
.buttonTwo {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #d35f5f;
  outline: 3px #d35f5f solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  color: beige;
}

.buttonTwo.textTwo {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.buttonTwo:hover {
  background-color: transparent;
  color: #d35f5f;
}

.buttonTwo:hover .textOne {
  color: #d35f5f;
}
/* Input container */
.inputsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.input-container {
  position: relative;
  margin: 35px;
  width: 300px;
}

/* Input field */
.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: #007bff;
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}

.input-containerDec {
  position: relative;
  margin: 35px;
  width: 300px;
}

/* Input field */
.input-fieldDec {
  display: block;
  height: 70px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

/* Input label */
.input-labelDec {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlightDec {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
textarea.input-fieldDec:focus + .input-labelDec {
  top: -20px;
  font-size: 12px;
  color: #007bff;
}

.input-fieldDec:focus + .input-labelDec + .input-highlightDec {
  width: 100%;
}

/* ButtonThree */
.buttonThree {
  width: 90px;
  height: 40px;
  margin-top: 20px;
  background-color: #007acc;
  outline: 3px #007acc solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  color: beige;
}

.buttonThree.textThree {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.buttonThree:hover {
  background-color: transparent;
}

.buttonThree:hover .textThree {
  color: #007acc;
}
.ButtonSubmitDiv {
  justify-content: center;
  align-items: center;
  display: flex;
}
.link-button {
  text-decoration: none;
  color: inherit;
}
